/*[fmt]1a20-1a0a-3*/
/*styles for managing events page*/
/*+clearfix {*/
.submissions-container:after, .node-type-event .field-name-field-wf-queue-description:after, .event-row:after {
  clear: both;
  content: ".";
  display: block;
  font-size: 0;
  height: 0;
  visibility: hidden;
}
.submissions-container, .node-type-event .field-name-field-wf-queue-description, .event-row {
  display: inline-block;
}
.submissions-container, .node-type-event .field-name-field-wf-queue-description, .event-row {
/*\*/
  display: block;
/**/
  -height: 1px;
}
/*+}*/
/*[clearfix]*/.submissions-container {
  /*+border-radius:10px;*/
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -khtml-border-radius: 10px;
  border-radius: 10px;
  background-color: #fafafa;
  border: 1px solid #ddd;
  display: block;
  margin-bottom: 20px;
  padding: 10px;
  width: auto;
}
.submission-action {
  /*+border-radius:10px 0 0 10px;*/
  -moz-border-radius: 10px 0 0 10px;
  -webkit-border-radius: 10px 0 0 10px;
  -khtml-border-radius: 10px 0 0 10px;
  border-radius: 10px 0 0 10px;
  background-color: #444;
  border: 1px solid #000;
  clear: left;
  color: #fff;
  display: block;
  float: left;
  font-weight: bold;
  margin-bottom: 5px;
  padding: 10px;
}
.submission-result {
  float: left;
  margin: 10px 10px 0 0;
}
.submission-tools {
  /*+border-radius:0 10px 10px 0;*/
  -moz-border-radius: 0 10px 10px 0;
  -webkit-border-radius: 0 10px 10px 0;
  -khtml-border-radius: 0 10px 10px 0;
  border-radius: 0 10px 10px 0;
  background-color: #fff;
  border: 1px solid #cfcfcf;
  clear: right;
  display: block;
  float: left;
  margin-bottom: 5px;
  padding: 10px;
}
.event-management-table thead th {
  background-color: #444;
  color: #fff;
}
.event-management-table {
  width: 100%;
}
.event-management-table tr:nth-child(odd) {
  background-color: #f4f4f4;
}
.queue-link a {
  /*+border-radius:5px;*/
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  background-color: #444;
  border: 1px solid #000;
  color: #fff !important;
  display: block;
  font-weight: bold;
  margin-bottom: 20px;
  padding: 10px;
  text-align: center;
}
/*styles for event page features*/
.node-type-event .field-name-field-wf-queue-participants, .node-type-event .field-name-field-wf-queue-end-date {
  /*+border-radius:5px;*/
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  background-color: #444;
  border: 1px solid #000;
  color: #fff;
  display: inline-block;
  float: left;
  clear: both;
  font-weight: bold;
  margin-bottom: 20px;
  padding: 10px;
  text-align: justify;
  width: auto;
  min-width: none;
  max-width: none;
}
.node-type-event h3.field-label {
  /*+border-radius:5px 5px 0 0;*/
  -moz-border-radius: 5px 5px 0 0;
  -webkit-border-radius: 5px 5px 0 0;
  -khtml-border-radius: 5px 5px 0 0;
  border-radius: 5px 5px 0 0;
  background-color: #444;
  border: 1px solid #000;
  border-bottom: none;
  color: #fff;
  display: inline-block;
  float: left;
  clear: both;
  font-weight: bold;
  font-size: 12pt;
  padding: 5px 10px;
  text-align: justify;
  width: auto;
  margin: 0;
  position: relative;
  top: 1px;
}
.node-type-event .field-name-field-wf-queue-end-date {
  /*+border-radius:0 5px 5px;*/
  -moz-border-radius: 0 5px 5px;
  -webkit-border-radius: 0 5px 5px;
  -khtml-border-radius: 0 5px 5px;
  border-radius: 0 5px 5px;
  border-radius: 0 5px 5px 5px;
}
.node-type-event .webform-component > label {
  background-color: #444444;
  clear: both;
  color: #ffffff;
  display: inline-block;
  float: left;
  margin-bottom: 5px;
  margin-top: 20px;
  padding: 5px 10px;
}
.node-type-event .webform-component input.form-radio {
  margin-left: 10px;
  position: relative;
  top: 4px;
}
.node-type-event #webform-component-event-action label .form-required {
  clear: none;
  float: none;
}
.node-type-event .webform-component label.option {
  clear: none;
  float: left;
  margin-left: 10px;
}
.node-type-event .webform-client-form {
  clear: both;
}
.node-type-event .webform-component * {
  -khtml-border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  /*+border-radius:5px;*/
  border-radius: 5px;
  clear: left;
  float: left;
  width: auto;
}
.node-type-event .webform-client-form .form-actions {
  clear: both;
  float: left;
}
.node-type-event .field-name-field-wf-qeueue-event-image img {
  -khtml-border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  /*+border-radius:5px;*/
  background-color: #444;
  border-radius: 5px;
  border: 1px solid #444;
  color: #fff;
  display: block;
  float: right;
  font-weight: bold;
  margin-bottom: 20px;
  margin: 0 0 10px 10px;
  text-align: justify;
}
/*[clearfix]*/.node-type-event .field-name-field-wf-queue-description {
}
.node-type-event h3.field-label {
  /*[empty]font-size:;*/
}
/*event view*/
.view-event-title a {
  color: #000 !important;
  font-size: 16pt;
  font-weight: bold;
  text-transform: uppercase;
}
/*[clearfix]*/.event-row {
  /*+border-radius:5px;*/
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  background-color: #fafafa;
  border: 1px solid #ededed;
  margin-bottom: 15px;
  padding: 10px;
}
.field-name-field-wf-qeueue-event-image img {
  /*+border-radius:5px;*/
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid #ededed;
  float: right;
}
.field-name-field-wf-queue-end-date, .field-name-field-wf-queue-participants, .view-event-signup a {
  /*+border-radius:0 0 5px 5px;*/
  -moz-border-radius: 0 0 5px 5px;
  -webkit-border-radius: 0 0 5px 5px;
  -khtml-border-radius: 0 0 5px 5px;
  border-radius: 0 0 5px 5px;
  background-color: #444;
  border: 1px solid #000;
  color: #fff !important;
  display: block;
  font-size: 10pt;
  font-weight: bold;
  font-weight: bold;
  margin-bottom: 20px;
  max-width: 35%;
  min-width: 35%;
  padding: 5px 10px;
  text-align: justify;
  text-transform: uppercase;
  width: 200px;
}
.event-row > span {
  /*+border-radius:5px 5px 0 0;*/
  -moz-border-radius: 5px 5px 0 0;
  -webkit-border-radius: 5px 5px 0 0;
  -khtml-border-radius: 5px 5px 0 0;
  border-radius: 5px 5px 0 0;
  background-color: #fff;
  border-bottom: none;
  border: 1px solid #000;
  color: #000;
  display: inline-block;
  font-weight: bold;
  margin-top: 20px;
  max-width: 35%;
  min-width: 35%;
  padding: 5px 10px;
}
.view-event-signup span.field-content a {
  /*+border-radius:5px;*/
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  background-color: #22aa22;
  clear: both;
  float: right;
  font-size: 16pt;
  margin-top: 20px;
  max-width: 230px;
  min-width: none;
  text-align: center;
  width: 250px;
}
.view-event-signup {
  float: right;
  width: 250px;
}
